@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #00bcd4;
  --color-primary-hover: #18ffff;
  --color-primary-white: #f7f9fb;
  --color-primary-gray: #A0A0A0;
  --color-primary-bg: #0d121c;
  --color-secondary-bg: #1a2233;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d121c;
    --foreground: #A0A0A0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}