@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #00bcd4;
  --color-primary-hover: #18ffff;
  --color-primary-white: #f7f9fb;
  --color-primary-gray: #A0A0A0;
  --color-primary-bg: #0d121c;
  --color-secondary-bg: #1a2233;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d121c;
    --foreground: #A0A0A0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-primary-bg);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-gray);
  border-radius: 5px;
  border: 2px solid var(--color-primary-bg);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-hover);
}

/* Firefox Scrollbar */
html {
  scrollbar-color: var(--color-primary-gray) var(--color-primary-bg);
  scrollbar-width: thin;
}